  @page { 
            size: A4; 
            margin: 10mm; 
        }
        body { 
            font-family: Arial, sans-serif; 
            font-size: 7.5pt; 
            margin: 0; 
            padding: 0; 
            text-transform: uppercase; 
            color: #000; 
        }
        
        table { 
            width: 100%; 
            border-collapse: collapse; 
            margin-bottom: -1px; 
            table-layout: fixed;
        }
        
        td { 
            border: 1px solid #000; 
            vertical-align: top; 
            padding: 2px 4px; 
        }
        
        .label { font-size: 5.5pt; font-weight: normal; display: block; margin-bottom: 1px; }
        .content { font-size: 8.5pt; font-weight: bold; min-height: 12px; }
        .bold { font-weight: bold; }
        .center { text-align: center; }
        .text-right { text-align: right; }
        
        .section-title { 
            font-weight: bold; 
            margin-top: 8px; 
            font-size: 8pt; 
            border-bottom: 1px solid #000; 
            padding-bottom: 1px; 
        }

        .no-border-top { border-top: none; }
        .bg-gray { background: #f2f2f2; }

